
.nav-ul {
    display: flex;
    text-align: center;
    padding: 20px;
    gap: 70px;
    list-style-type: none;
    color: black;
    font-size: larger;
    margin-left:60px;
  
}

.nav-name{
    font-weight: bold;
    font-style: italic;
    font-size: 30PX;
    margin-right: 300px;
}
.nav-ul{
    text-decoration: none; /* Removes underline */
  }
  
